body {
  text-align: center;
  margin: 0 auto;
  padding: 5% 10%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a { 
  text-decoration: none;
  font-weight: bold;
  color: #369; 

}

.randomiser button {
  font-size: 300%;
  border: 0;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  border-radius: 0.2em;
  cursor: pointer;
  opacity: .8;
  font-weight: bold;
  background-color: #369;
  color: #fff;
}

  .randomiser button:hover,
  .randomiser button:focus {
    opacity: 1;
  }

.message { font-size: 150%; }

  .message .song,
  .message .artist,
  .message .tada { 
    padding: 2.5% 0;
    display: block; 
  }
  
  .message .artist { padding-top: 0; }
  .message .song { font-size: 200%; }
  .message .tada { 
    padding-bottom: 0;
    font-size: 400%; 
  }

.a-play {
  font-size: 200%;
  background-color: #369;
  color: #fff;
  border-radius: 0.2em;
  padding: 0.25em 0.5em;
  margin-bottom: 2.5%;
  display: inline-block;
  opacity: .8;
}
    .a-play:hover,
    .a-play:focus {
      opacity: 1;
    }

.is-playing {}