        <div class="block">
          <form action="?" method="get" class="randomiser">
          	<input type="hidden" name="date" value="{{ random }}" />
          	<button type="submit">{{ random(['Hit me', 'Spin it', 'Go, go go']) }}!</button>
          </form>
          <form action="?" method="get" class="specifier">
            <label for="date">Or enter a date</label>
            <input type="date" id="date" name="date" value="{{ date }}" />
            <button type="submit">Go!</button>
          </form>
        </div>